// main: ../style.less

.devices
{
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    position: relative;
    
    @media @mobile{
        max-width: 320px;
    }
}

.devices__item
{
    display: block;
    height: auto;
    max-width: 100%;
    
    &--iphone
    {
        position: absolute;
        bottom: -40px;
        right: -30px;
        z-index: 1;
        
        @media @mobile{
        max-width: 180px;
            
        }
    }
}