// main: ../style.less

.logos
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos__item
{
    &:first-child
    {
        padding-left: 15px;
    }
    &:last-child
    {
        padding-right: 15px;
    }
}